<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>编写博客</title>
  <!-- import element-ui css -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link href="./CSS/write.css" type="text/css" rel="stylesheet">
</head>

<!-- import VUE , element UI , wangEditor -->
<script src="https://unpkg.com/wangeditor/release/wangEditor.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<body>
  <div id="app">

    <div class="editor_container">

      <el-form ref="form" :model="form" label-width="80px">
        <el-form-item style="margin-top: 35px;" label="标题">
          <el-input onkeyup="getTitle()" maxlength='28' style="width: 420px;font-size: 16px;" v-model="form.title"
            placeholder='输入文章标题，不超过28个字'></el-input>
        </el-form-item>

        <el-form-item label="简介">
          <el-input onkeyup="getInfo()" resize='none' type="textarea" v-model="form.info"
            placeholder='输入文章简介，建议在200字左右'></el-input>
        </el-form-item>
        <el-form-item style="margin-top: 20px;display: flex;flex-direction: row-reverse;">
          <el-select v-model="select_value" placeholder="请选择博客类型">
            <el-option style="width: 120px;"
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
          <el-switch onclick="closeEditor()" style="margin-right: 5px;" v-model="value1" active-text="隐藏编辑器"></el-switch>
          <el-tooltip class="item" effect="dark" content="激活后，该文章将会被公开" placement="top">
            <el-switch onclick="publicEditor()" style="margin-right: 5px;" v-model="value2" active-text="博客共享"></el-switch>
          </el-tooltip>
          <el-button id='submit' type="primary" @click="onSubmit">立即创建</el-button>
        </el-form-item>
      </el-form>
    </div>

    <div class="divide"></div>
    <div class="user_main_container">

      <div class="blog">
        <div class="title">{{form.title}}</div>
        <div class="blog_info_container">
          <i id="blog_icon" class="el-icon-date"></i>
          <div class="date">{{date}}</div>
          <i id="blog_icon" style="margin-left: 25px;" class="el-icon-user"></i>
          <div class="author">{{author}}</div>
          <i id="blog_icon" style="margin-left: 25px;" class="el-icon-setting"></i>
          <div class="classify">{{select_value}}</div>
          <i id="blog_icon" style="margin-left: 25px;" class="el-icon-unlock"></i>
          <div class="public">{{public}}</div>
        </div>
        <div class="preface_container">
          <h2 style="color: #525252;">前言</h2>
          <div class="preface">{{form.info}} </div>
        </div>
        <div style="width: 94%;color: #555555;font-weight: lighter;font-size: 17px;" class="blog_main"></div>
        <div style="border-bottom: 1px solid #d5d5d5;" class="blank"></div>
        <div class="blank"></div>
        <div class="position"></div>
      </div>
    </div>

    <div id="wang" class="editor">
      <p>在这里输入正文，在输入前请删除此行,！！！请注意，在嵌入代码时候，要注意避免代码段纵向过长，
        容易出现BUG，且博客类图片上传大小限制为2MB,由于使用的监听事件为onkeyup,在插入代码和图片时
        预览视图不能及时更新需要注意！！！</p>
      <p>!!!特别注意，上传博客时，一切效果以右侧的预览视图为基准，上传时要注意预览视图是否正确显示！！！</p>
    </div>

  </div>
</body>

<script>
  var app = new Vue({
    el: "#app",
    data:{
      value1:false,
      value2:false,
      passport:'',
      author:'ss',
      check:'',
      public:'private',
      form: {
          title: '',
          info: ''
        },
      options: [{
          value: 'HTML/CSS/JS',
          label: 'HTML/CSS/JS'
        }, {
          value: 'PHP',
          label: 'PHP'
        }, {
          value: 'C/Cpp',
          label: 'C/C++'
        }, {
          value: 'Java',
          label: 'Java'
        }, {
          value: 'Python',
          label: 'Python'
        }, {
          value: '其他技术类',
          label: '其他技术类'
        }],
      select_value: '',
      html:'',
      date:''
    },
    methods: {
      onSubmit() {
        if(app.form.title == '' || app.form.info == '' || app.html == '' || app.select_value == ''){
          console.log('app.form.title',app.form.title)
          console.log('app.form.info',app.form.info)
          console.log('app.html',app.html)
          console.log('app.select_value',app.select_value)
        }else{
          var date = new Date().Format("yyyy-MM-dd");
          var title = app.form.title
          var info = app.form.info
          var html = app.html
          var passport = app.passport
          var classify = app.select_value
          var public = app.public
          var para ="title="+title+"&info="+info+"&html="+html+"&passport="+passport+"&date="+date+"&classify="+classify+"&public="+public
          var para2 = para + "&dataBase=" + "public_blog"
          var para3 = para + "&dataBase=" + passport + "_blog"
          if(public == "public"){
            uploadBlog(para2)
            uploadBlog(para3)
          }else if (public == "private"){
            uploadBlog(para3)
          }
        }
        if(app.check == 1){
          alert("数据上传成功")
          window.close()
        }else{
          console.log(app.check,typeof(app.check))
          alert("数据上传失败")
        }
      }



    }

  })
</script>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- 富文本编辑器函数配置 -->
<script type="text/javascript">
  var E = window.wangEditor
  var editor = new E('.editor')
  editor.customConfig.uploadImgServer = "./php/uploadBlogPic.php";  // 上传图片到服务器
  editor.customConfig.uploadFileName = "upload_file";      //文件名称  也就是你在后台接受的 参数值
  editor.customConfig.uploadImgHeaders = {    //header头信息 
    'Accept': 'text/x-json'
  }
  editor.customConfig.uploadImgMaxSize = 2 * 1024 * 1024   //默认为5M
  editor.customConfig.uploadImgShowBase64 = false;   // 不使用 base64 保存图片
  editor.customConfig.debug = true;

  editor.customConfig.uploadImgHooks = {  
    error: function (xhr, editor) {
      alert("2：" + xhr + "请查看你的json格式是否正确，图片并没有上传");
      // 图片上传出错时触发  如果是这块报错 就说明文件没有上传上去，直接看自己的json信息。是否正确
      // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
    },
    fail: function (xhr, editor, result) {
      //  如果在这出现的错误 就说明图片上传成功了 但是没有回显在编辑器中，我在这做的是在原有的json 中添加了
      //  一个url的key（参数）这个参数在 customInsert也用到
      //  
      console.log(editor,'result')
      alert("1：" + xhr + "请查看你的json格式是否正确，图片上传了，但是并没有回显");
    },
    success:function(xhr, editor, result){
      //成功 不需要alert 当然你可以使用console.log 查看自己的成功json情况 
      //console.log(result)
    },
  };
  editor.customConfig.showLinkImg = true; //是否开启网络图片，默认开启的。
  editor.create()

  document.getElementById('submit').addEventListener('mouseover', function () {
        // console.log("11")
        app.html = editor.txt.html()
    }, false)

  document.getElementById('wang').addEventListener('keyup', function () {
        // 读取 html
        // alert(editor.txt.html())
        app.html = editor.txt.html()
        console.log(app.html)
        $(".blog_main").empty()
        $(".blog_main").html(editor.txt.html())
    }, false)

</script>

<!-- 调用Ajax进行上传操作 -->


<script>
  function uploadBlog(paras){
    var para = paras
    var url = './PHP/uploadBlog.php'
    var xhr = new XMLHttpRequest();/*调用Ajax*/
    
    xhr.open("POST",url,false)
    xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
    xhr.onreadystatechange = function(){
    if(xhr.readyState == 4){
      if(xhr.status == 200){
        var res = xhr.responseText
        app.check =  Number(res)
        console.log(app.check,typeof(app.check))
      }
    }
  };
    xhr.send(para)
  }
</script> 

<!-- 页面跳转设置 -->
<script>
  var request =
  {
    QueryString: function (val) {
      var uri = window.location.search;
      var re = new RegExp("" + val + "=([^&?]*)", "ig");
      return ((uri.match(re)) ? (uri.match(re)[0].substr(val.length + 1)) : null);
    }
  }
</script>
<script>
  window.onload = function(){
    var passport = request.QueryString("passport")
    app.passport = passport
    app.date = new Date().Format("yyyy-MM-dd");
    // getBlogData(app.id,app.passport)
  }
</script>

<!-- 两个设置按钮 -->
<script>
  function getTitle(){
    console.log(app.form.title)
  }
  function getInfo(){
    console.log(app.form.info)
  }
  function closeEditor(){
    var check = app.value1
    if(check == true){
      document.getElementById('wang').style.display = 'none'
    }else if(check == false){
      document.getElementById('wang').style.display = 'block'
    }else{
      alert("something wrong please reboot browser")
    }
  }
  function publicEditor(){
    var check = app.value2
    if(check == false){
      app.public = "private"
    }else if(check == true){
      app.public = "public"
    }else{
      alert("something wrong please reboot browser")
    }
  }

</script>

<script>
//获取当前时间，并格式化输出
Date.prototype.Format = function (fmt) {
    var o = {
        "M+": this.getMonth() + 1, //月份 
        "d+": this.getDate(), //日 
        "H+": this.getHours(), //小时 
        "m+": this.getMinutes(), //分 
        "s+": this.getSeconds(), //秒 
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
        "S": this.getMilliseconds() //毫秒 
    };
    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (var k in o)
    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
    return fmt;
}
</script>

</html>